$type-colors: (
  'bug': #adbd21,
  'dark': #735a4a,
  'dragon': #7b63e7,
  'electric': #ffc631,
  'fairy': #f7b5f7,
  'fighting': #a55239,
  'fire': #f75231,
  'flying': #9cadf7,
  'ghost': #6363b5,
  'grass': #7bce52,
  'ground': #d6b55a,
  'ice': #5acee7,
  'normal': #ada594,
  'poison': #b55aa5,
  'psychic': #ff73a5,
  'rock': #bda55a,
  'steel': #adadc6,
  'water': #399cff,
);

@each $type, $hex in $type-colors {
  .hover-#{$type}:hover {
    background-color: $hex;
  }

  .drawer-#{$type} {
    background-color: $hex !important;
  }

  .active-#{$type} {
    background-color: $hex !important;
  }
}

.home-container {
  padding-left: 50px;
}

.list-header {
  margin-top: 40px;
  font-size: 34px;
  color: white;
}

.name {
  user-select: none;
}

.name-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.list-icon {
  width: 100px;
  image-rendering: pixelated;
}

.type-icon {
  width: 75px;
  image-rendering: pixelated;
  margin-right: 3px;
}

.header-row {
  background-color: lightgray;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 26px;
}

.list-table {
  width: 900px;
}

.data-row {
  height: 105;
  background-color: #8b8a95;
  color: black;
  cursor: pointer;
}

tr {
  text-align: center;
}

td {
  font-size: 26px;
}

.drawer-column {
  padding: 0;
}
