$type-colors: (
  'bug': #adbd21,
  'dark': #735a4a,
  'dragon': #7b63e7,
  'electric': #ffc631,
  'fairy': #f7b5f7,
  'fighting': #a55239,
  'fire': #f75231,
  'flying': #9cadf7,
  'ghost': #6363b5,
  'grass': #7bce52,
  'ground': #d6b55a,
  'ice': #5acee7,
  'normal': #ada594,
  'poison': #b55aa5,
  'psychic': #ff73a5,
  'rock': #bda55a,
  'steel': #adadc6,
  'water': #399cff,
);

.dropdown-container {
  height: 130px;
  display: flex;
}

.main-dropdown {
  margin-left: 15px;
  margin-top: 15px;
  width: 400px;
}

.pokeball-dropdown {
  margin-left: 25px;
  margin-top: 15px;
  width: 100px;
}

.game-version-dropdown {
  margin-left: 25px;
  margin-top: 15px;
  width: 200px;
}

.catch-confirm-button {
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

@each $type, $hex in $type-colors {
  .button-color-#{$type}:hover {
    color: $hex !important;
  }
}

.source-option-image {
  width: 55px;
  background-color: #131418;
  margin: 5px;
}

.pokeball-option-image {
  width: 40px;
  margin-top: 5px;
  image-rendering: pixelated;
}

.pokeball-placeholder {
  margin-top: 1px;
  width: 45px;
  image-rendering: pixelated;
}

.option-container {
  display: flex;
  align-items: center;
}

.edit-date-container {
  text-align: left;
  display: inline-flex;
  margin-bottom: 15px;
}

.edit-date-label {
  margin-left: 15px;
  color: black;
}

.edit-date-picker {
  background-color: white;
  vertical-align: center;
}

.no-border .MuiInput-underline:before {
  border-bottom: none;
}

.edit-date-input:hover {
  border: none;
}

.edit-date-button {
  border: none;
  border-radius: 0%;
  margin-left: 5px;
}

.edit-date-error {
  color: red;
  margin-left: 10px;
}

.delete-button-container {
  float: right;
  text-align: left;
  display: inline-flex;
  margin-bottom: 15px;
  margin-right: 20px;
}

.delete-pokemon-button {
  border: none;
  border-radius: 0%;
  margin-left: 5px;
  height: 27px;
}

.deletion-warning {
  color: black;
  margin-top: 30px;
}

.delete-mode-container {
  height: 244px;
  padding-top: 50px;
  box-sizing: border-box;
}

.confirm-delete-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.confirm-delete-button {
  border: none;
  border-radius: 0%;
  margin: 20px;
  font-size: 30px;
  padding: 3px;
}
