.unlocked-source-pill {
  padding: 5px 9px;
  background-color: black;
  color: white;
  margin: 5px;
  cursor: default;
}

.locked-source-pill {
  padding: 5px 9px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.6);
  margin: 5px;
  cursor: default;
}

.pokemon-sources-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 25px;
}

.drawer-button-container {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
}

.button-icon {
  vertical-align: bottom;
  image-rendering: pixelated;
}

.log-catch-button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.show-catches-button {
  color: white;
  width: 100%;
  background-color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.check-icon {
  width: 20px;
  margin-right: 7px;
}

.catch-list-table {
  min-width: 900px;
}

.catch-list-header-row {
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.catch-list-header {
  font-size: 34px;
  color: white;
}

.empty-row td {
  color: black;
}

.pokemon-data-row {
  background-color: #8b8a95;
  color: black;
  cursor: pointer;
}

.pokemon-data-row td {
  user-select: none;
}

.catch-tag {
  padding: 4px 6px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: default;
  margin-right: 5px;
}

.tag-container {
  text-align: left;
}

.tags-column {
  text-align: left;
  padding-left: 10px;
}

.note-drawer-column {
  text-align: left;
  padding: 0;
}

.note-text {
  color: black;
  margin: 5px 10px;
}

.note-editor {
  width: 99%;
  font-size: 18px;
  resize: none;
}
