.unlocked-source-pill {
  padding: 5px 9px;
  background-color: black;
  color: white;
  margin: 5px;
  cursor: default;
}

.locked-source-pill {
  padding: 5px 9px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.6);
  margin: 5px;
  cursor: default;
}

.pokemon-sources-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 25px;
  width: 880px;
}

.drawer-button-container {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
}

.button-icon {
  vertical-align: bottom;
  image-rendering: pixelated;
}

.log-catch-button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.show-catches-button {
  color: white;
  width: 100%;
  background-color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.check-icon {
  width: 20px;
  margin-right: 7px;
}

.evolve-icon {
  margin-bottom: -6px;
  margin-right: 3px;
}

.catch-list-table {
  min-width: 900px;
}

.catch-list-header-row {
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.catch-list-header {
  font-size: 34px;
  color: white;
}

.empty-row td {
  color: black;
}

.pokemon-data-row {
  background-color: #8b8a95;
  color: black;
  cursor: pointer;
}

.pokemon-data-row td {
  user-select: none;
}

.catch-tag {
  padding: 4px 6px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: default;
  margin-right: 5px;
}

.inherited {
  opacity: 0.4;
}

.tag-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.tags-column {
  text-align: left;
  padding-left: 10px;
}

.note-drawer-column {
  text-align: left;
  padding: 0;
}

.note-text {
  color: black;
  margin: 5px 10px;
}

.note-editor {
  width: 99%;
  font-size: 18px;
  resize: none;
}

.catch-list-table tr {
  text-align: center;
}

.catch-list-table td {
  font-size: 26px;
}

.catch-list-evolve-button {
  margin-bottom: -5px;
}

.evolve-to-label {
  color: black;
}

.evolution-choices-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 10px;
}

.evolution-choice {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 5px;
}

// hover

.evolution-choice-image {
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  margin-bottom: 5px;
}

.evolution-choice-label {
  color: black;
}

.evolve-button-container {
  float: right;
  text-align: left;
  display: inline-flex;
  margin-bottom: 15px;
  margin-right: 20px;
}

.evolve-pokemon-button {
  border: none;
  border-radius: 0%;
  margin-left: 5px;
  height: 27px;
}

.evolution-warning {
  color: black;
  margin-top: 30px;
}

.evolve-mode-container {
  height: 244px;
  padding-top: 50px;
  box-sizing: border-box;
}

.confirm-evolve-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.confirm-evolve-button {
  border: none;
  border-radius: 0%;
  margin: 20px;
  font-size: 30px;
  padding: 3px;
}
