.pokemon-team-container {
    box-sizing: border-box;
    height: 375px;
    width: 270px;
    position: relative;
    background-color: #3F3F3F;
    text-align: center;
    margin: 10vh auto 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 30px 30px 30px;
}

.hide-console {
    display: none;
}

.team-header {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 22px;
    margin-top: 10vh;
}

.team-member {
    height: 95px;
    width: 95px;
    background-color: lightgray;
    margin-bottom: 20px;
    border-radius: 5px;
}

.console-container {
    margin: 30px auto 0 auto;
    padding-top: 6px;
    height: 28px;
    width: 225px;
    background-color: #ed1b24;
    border-radius: 4px;
}

.add-button {
    margin-right: 5px;
}

.console {
    border-radius: 2px;
    width: 150px;
    margin-right: 10px;
}