@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


.type {
    display: inline;

    height: 15px;
    width: 75px;
    margin-top: 10px;
    padding-top: 5px;
    background-color: #A9A878;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    color: white;
}


.type-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    height: 50px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    color: white;
}

.pokemon-name {
    padding-top: 12px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    color: white;
}
