.filters-container {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.filter-dropdown {
  min-width: 50px;
  margin: 0 20px 0 10px;
  background-color: white;
  border-radius: 0%;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
}
