@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  background-color: #131418;
  color: #959da5;
  font-size: 14px;
}

button,
input,
textarea,
select {
  font-family: 'Share Tech Mono', monospace;
}

a {
  color: #ffffff;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

table td,
th {
  border: 2px solid black;
}

table tr:first-child td,
th {
  border-top: 0;
}
table tr td:first-child,
th:first-child {
  border-left: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:last-child,
th:last-child {
  border-right: 0;
}
