.nav-container {
    position: fixed;
    height: 100vh;
    width: 90px;
    background-color: #ed1b24;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-container:hover {

    width: 200px;
    justify-content: inherit;
    padding-left: 20px;

}




.nav-list {
    list-style-type: none;
    padding-left: 0;
}


.menu-button {
    width: 50px;
    height: 50px;
}

.finder {

}

.picker {

}

.team {

}