.nav-container {
    position: fixed;
    height: 100vh;
    width: 90px;
    background-color: #ed1b24;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.no-underline {
    text-decoration: none;
}

.nav-container:hover {
    width: 180px;
    justify-content: flex-start;
    padding-left: 20px;
    transition: 0.2s;
}

.nav-container:hover .menu-text {
    display: inline-block;

}

.menu-text {
    display: none;
    color: #eee;
    margin-left: 15px;
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 14px;
    white-space: nowrap;
}


.menu-button {
    width: 50px;
    height: 50px;
}

.finder {

}

.picker {

}

.team {

}